@{
    ViewData["Title"] = "Courses";
}
@* <h1>@ViewData["Title"]</h1> *@

<p>
    In this course, students will learn the most popular AI techniques used for creating believable character behaviour in games. You will create NPCs to chase, patrol, shoot, race, crowd and much more.
    Student will learn how to program and work with vector, waypoints, navmeshes, the A* algorithm, crowds, flocks, animated characters, vehicles, and industry standard techniques such as goal-oriented action learning and behaviour trees.
</p>

<div class="card-columns">
    <div class="card">
        <div class="card-body" style="background-color:coral">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="AStar">Using A* algorithm with Waypoints</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body" style="background-color:coral">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="NavMesh">Using Unity NAV Mesh</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body" style="background-color:coral">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="SportsAnalytics">Sports Analytics</a>
            </div>
        </div>
    </div>
</div>

