@{
    ViewData["Title"] = "Animation";
}
@* <h1>@ViewData["Title"]</h1> *@

<p>
    In this course, students will learn to create an animated Scene as they develop movie-making skills.
    Students will learn how to create Scenes, design sets, animate characters, move cameras, set up lighting, create special effects, add audio, add titles, and render their work. The foundational skills they’ll develop around 3D modeling, environment creation, animation, and cinematography align with technical objectives and best practices employed by proficient Unity developers.
</p>

<div class="card-columns">
    <div class="card">
        <div class="card-body" style="background-color:coral">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="Animation1">Real-time Animation Storytelling 1</a>
            </div>
        </div>       
    </div>
    <div class="card">       
        <div class="card-body" style="background-color:coral">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="Animation2">Real-time Animation Storytelling 2</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body" style="background-color:coral">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="Animation3">Real-time Animation Storytelling 3</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body" style="background-color:coral">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="Animation4">Real-time Animation Storytelling 4</a>
            </div>
        </div>
    </div>
</div>
