@{
    ViewData["Title"] = "Animation";
}
@* <h1>@ViewData["Title"]</h1> *@

<div class="card-columns">
    <div class="card">
        <div class="card-body" style="background-color:coral">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="Animation1">Real-time Animation Storytelling 1</a>
            </div>
        </div>
        <div class="card-body" style="background-color:coral">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="Animation2">Real-time Animation Storytelling 2</a>
            </div>
        </div>
    </div>   
</div>
