@{
    ViewData["Title"] = "Architecture";
}
<h1>@ViewData["Title"]</h1>

<div class="card-columns">
    <div class="card">
        <div class="card-body" style="background-color:chocolate">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="HouseProject1">Kitchen Model 1</a>
            </div>            
        </div>
    </div>
    <div class="card">
        <div class="card-body" style="background-color:chocolate">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="HouseProject2">Kitchen Model 2</a>
            </div>
        </div>
    </div>
</div>



