@{
    ViewData["Title"] = "Architecture";
}
@* <h1>@ViewData["Title"]</h1> *@
<p>
    We build architectural models. We typically start by importing your CAD or BIM models, optimize the geometry, and apply materials. Then, we add lights, shadows, and bake the lighting for realism. We can also add a character, implement interactive elements like doors, and build a standalone application for sharing.
</p>

<div class="mybackgroundimage13"></div>
<div class="mybackgroundimage5"></div>
<div class="mybackgroundimage6"></div>
<div class="mybackgroundimage7"></div>





