@{
    ViewData["Title"] = "Architecture";
}
@* <h1>@ViewData["Title"]</h1> *@


<div class="mybackgroundimage5"></div>
<div class="mybackgroundimage6"></div>
<div class="mybackgroundimage7"></div>




