@{
    ViewData["Title"] = "Architecture";
}
<h1>@ViewData["Title"]</h1>

<div class="text-left">    
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="HouseProject1">Kitchen Model 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="HouseProject2">Kitchen Model 2</a>
        </li>       
    </ul>
    <b></b>
</div>

