@{
        ViewData["Title"] = "Food";
}
@* <h1>@ViewData["Title"]</h1> *@

<div class="card-columns">
    <div class="card">
        <div class="card-body" style="background-color:coral">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="Food1">How To Make Focaccia From Scratch</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body" style="background-color:coral">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="Food2">How To Make Pizza From Scratch</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body" style="background-color:coral">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="Food3">How To Make Vegan Cinnamon Buns From Scratch</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body" style="background-color:coral">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="Food4">How To Make Vegan No-Knead Bread From Scratch</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body" style="background-color:coral">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="Food5">How To Make Vegan Whole Wheat Bread Loaves From Scratch</a>
            </div>
        </div>
    </div>
</div>