@{
    ViewData["Title"] = "Games";
}
<h1>@ViewData["Title"]</h1>

<div class="card-columns">
    <div class="card">
        <div class="card-body" style="background-color:chocolate">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="EggCatcher">Egg Catcher</a>
            </div>           
        </div>
    </div>
    <div class="card">
        <div class="card-body" style="background-color:chocolate">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="DinoRun">Dino Run</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body" style="background-color:chocolate">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="BlockDodge">Block Dodge</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body" style="background-color:chocolate">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="MazeBall">Maze Ball</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body" style="background-color:chocolate">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="CubeRunner">Cube Runner</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body" style="background-color:chocolate">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="CoinCollector">Coin Collector</a>
            </div>
        </div>
    </div>
</div>



