@{
    ViewData["Title"] = "Games";
}
<h1>@ViewData["Title"]</h1>

<div class="text-left">    
    <ul class="navbar-nav flex-grow-1"> 
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="EggCatcher">Egg Catcher</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="DinoRun">Dino Run</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="BlockDodge">Block Dodge</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="MazeBall">Maze Ball</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="CubeRunner">Cube Runner</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="CoinCollector">Coin Collector</a>
        </li>
    </ul>
    <b></b>
</div>

