@{
    ViewData["Title"] = "Architecture";
}
@* <h1>@ViewData["Title"]</h1> *@


<div class="mybackgroundimage1"></div>
<div class="mybackgroundimage2"></div>
<div class="mybackgroundimage3"></div>
<div class="mybackgroundimage4"></div>



