@model HelloCoreWorld.Models.TestModel
@{
    ViewData["Title"] = "Home Page";
}

<p>@Model.ProtectedData</p>
<p>@Model.UnProtectedData</p>

<div class="text-center">
    <h1 class="display-5">Welcome to GPU Programming!</h1>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="WebGPU">WebGPU</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="WebGL2">WebGL2</a>
        </li>
        <!--li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="DonutCatcher">DonutCatcher</a>
        </li-->
        <!--li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li-->
    </ul>
    <b></b>
</div>
