@model HelloCoreWorld.Models.TestModel
@{
    ViewData["Title"] = "Home Page";
}

<p>@Model.ProtectedData</p>
<p>@Model.UnProtectedData</p>

@* <div class="text-left">
    <ul class="navbar-nav flex-grow-1">       
        <!--li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li-->
    </ul>
    <b></b>
</div> *@

<div class="mybackgroundimage1"></div>
<div class="mybackgroundimage2"></div>



