@model HelloCoreWorld.Models.TestModel
@{
    ViewData["Title"] = "Home Page";
}

<p>@Model.ProtectedData</p>
<p>@Model.UnProtectedData</p>

<div class="text-center">
    <h1 class="display-5">Welcome Chubbily Bubbly</h1>
    <b>You are a dangerous chubby!</b>
</div>
