@model HelloCoreWorld.Models.TestModel
@{
    ViewData["Title"] = "Home Page";
}

<p>@Model.ProtectedData</p>
<p>@Model.UnProtectedData</p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <b>Automatically deployed!</b>
</div>
