@model HelloCoreWorld.Models.TestModel
@{
    ViewData["Title"] = "Home Page";
}

<p>@Model.ProtectedData</p>
<p>@Model.UnProtectedData</p>

<div class="text-left">
    <h1 class="display-5">Welcome to GPU Programming!</h1>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="HouseProject1">Kitchen Model</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="WebGPU">WebGPU Code (Supported by new Browsers)</a>
        </li>       
        <li>
            <a href="https://www.amazon.ca/WebGL2-practical-approach-computer-graphics-ebook/dp/B07DF7J19T/ref=sr_1_3?crid=FTTLOBBZXWJ1&dib=eyJ2IjoiMSJ9.xGDKsDaoLKwPyGbjvp-GHG7vQqa_t7Iv53snkFWp0yZGEdFy8n9wBQSvyoQry0hPne5wBZG-ZiMqE8yyhhyrKnfklHJlEQImpjh_9Nn_Kc4.b0ryEoAuo6630DYO9lp7kthC-VNmUJFWClZUov1TZDc&dib_tag=se&keywords=webgl2&qid=1718488229&sprefix=webgl%2Caps%2C136&sr=8-3">
                WebGL2: A practical approach to learn computer 3D graphics and games
            </a>             
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="WebGL2">WebGL2 Code (Supported by most Browsers and Mobile Devices)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="EggCatcher">Egg Catcher</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="DinoRun">Dino Run</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="BlockDodge">Block Dodge</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="MazeBall">Maze Ball</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="CubeRunner">Cube Runner</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="CoinCollector">Coin Collector</a>
        </li>
        <!--li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li-->
    </ul>
    <b></b>
</div>
