@{
    ViewData["Title"] = "Interactive";
}
@* <h1>@ViewData["Title"]</h1> *@
<p>
    We create a walkthrough of a house. We import the 3D model of the house, apply textures to the walls, floors, and furniture, and then add a Sun light to simulate natural light coming in through the windows. We might then add a character, enable collision detection, and add a script to open and close doors with a simple click.
</p>
<div class="card-columns">
    <div class="card">
        <div class="card-body" style="background-color:coral">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="HouseProject1">Kitchen Model 1</a>
            </div>            
        </div>
    </div>
    <div class="card">
        <div class="card-body" style="background-color:coral">
            <div class="card-title" style="background-color:gold">
                <a class="nav-link text-dark" asp-area="" asp-controller="." asp-action="HouseProject2">Kitchen Model 2 (Too big for mobile, only desktop!)</a>
            </div>
        </div>
    </div>
</div>



